[submodule "pybind11"]
	path = bindings/python/thirdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "nan"]
	path = bindings/nodejs/third_party/nan
	url = https://github.com/nodejs/nan
