[submodule "pybind11"]
	path = bindings/python/thirdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "nan"]
	path = bindings/nodejs/third_party/nan
	url = https://github.com/nodejs/nan
[submodule "bindings/java/third_party/jni.hpp"]
	path = bindings/java/third_party/jni.hpp
	url = git@github.ibm.com:ray-glover/jni.hpp.git
[submodule "third_party/gsl_lite"]
	path = third_party/gsl_lite
	url = https://github.com/martinmoene/gsl-lite
